<% include ../jointures/head.ejs %>
  <body>

  <div class="container">
      <!-- include de la barre de navigation-->
      <% include ../jointures/header.ejs %>
			<div class="intro_outro">
					Introduction:<br>
					Pour pouvoir comprendre le fonctionnement de l 'intelligence artificielle, il faut connaître le fonctionnement du cerveau humain et définir la notion d'intelligence.
			</div>
        <!-- Debut sur corp principale-->
				<div class="partie">
			        <div class="row-fluid">
    <a href="../Parties?p=1">I)Fonctionnement du cerveau</a>
    <div class="sous_partie_menu">
        A)comment fonctionne un cerveau ?
        <div id="1A1" class="sous_partie_menu">
            1)principe de base : les interactions entre les neurones
        </div>
    </div>


    <span class="texte">
        Tout d'abord le cerveau est un ensemble de neurones reliés entre eux. D’après le neuro-scientifique Bradley Voytek leur nombre est de 86 milliards. Un neurone commence par des dendrites qui sont connectées à des milliers d'autres neurones, une cellule nerveuse et un axone où sont connectés des milliers de synapses, qui sont les émetteurs. Les axones et les dendrites de deux neurones différents entrent quasiment en contact grâce au synapse mais reste séparées par un espace synaptique. Les signaux électriques ne peuvent pas franchir cet espace. La communication se fait donc par des neurotransmetteurs produits par le neurone émetteur du message et reconnus par le neurone récepteur. C'est cette interaction qui génère les bases de l'intelligence. En effet, un neurone est en contact avec plusieurs autres neurones, il reçoit donc de nombreux messages chimiques au niveau de ses synapses. Le neurone va les transformer et en créer de nouveaux messages nerveux originaux qu'il va transmettre. Ainsi le neurone n'est donc pas qu' un simple relais il traite aussi les informations.</span>

        <div class="sous_partie_menu"><div id="1A2"  class="sous_partie_menu">2. Le traitement des informations dans un cerveau</div></div>

    <span class="texte">Notre cerveau, tout comme un ordinateur est capable de traiter des informations, mais nous arrivons à analyser ces informations en plus grand nombre et beaucoup plus rapidement qu'un ordinateur. En effet, nous pouvons voir sur ce schéma du projet BlueBrain les ressources nécessaires pour égaler la puissance humaine.</span>

    <a href="http://www.sciencesetavenir.fr/fondamental/20131004.OBS9861/human-brain-project-la-course-au-cerveau-virtuel-est-lancee.html"><img class="img_parties"  src="http://referentiel.nouvelobs.com/file/6493833.jpg"></a>







    <span class="texte"><br><br>
        Comment le cerveau arrive t-il à analyser ces informations avec une aussi grande efficacité et comment fait-il pour comprendre toutes ces données ? C'est un des grands débats qui dure depuis toujours entre les scientifiques. Nous allons donc tenter d'y répondre de manière simple à partir de ce que l'on connaît déjà. Tout d'abord le cerveau reçoit les informations par l’intermédiaire du système nerveux, le cerveau interprète seulement ce que les sens perçoivent.
   </span><span class="texte"> •	Pour commencer, le cerveau compare l'information qu'il reçoit pour voir si c'est quelque chose qu'il connais. Si cette dernière n'est ni nouvelle, ni dangereuse et ne présente pas d’intérêt elle n'est pas importante, le cerveau n'y prend donc pas attention. On peut dire que le cerveau filtre ses informations. Le cerveau reçoit tellement d'information en même temps qu'il lui est impossible de tout traités c'est donc pour cela que quelque chose d'inconnu va nous attirer au début, nous allons le regarder puis a force nous ne le regarderons même plus car le cerveau a mémorisé cet objet et donc il ne sera plus nouveau, ni dangereux normalement, et ne présentera plus d’intérêt. Le cerveau n'y fais donc plus attention.<br><br>

    •	Le cerveau complète ensuite une image mentale de ce qui l'entoure. Lorsque l'on traite une information en particulier le cerveau le mets en relation avec d'autre se qui lui donne plus d'importance. Ce phénomène est très utile pour la vie de tout les jours et c'est grâce a ça que nous pouvons nous souvenir, car le cerveau associe chaque idée a une autre. Nous reparlerons de ça plus en détail dans le paragraphe dédié au différentes mémoires de notre cerveau.<br><br>

    •	Savoir se repérer, comprendre le monde qui nous entoure, s'adapter au situation, tout cela est réaliser grâce au deux point haut dessus mais le cerveau a aussi une importance capitale pour nos besoin de la vie courante. Dans ce cas là le cerveau les interprètes aussi grâce au système nerveux. Nous avons dis que le cerveau laisse de coté toute information qui n'est pas utile pour atteindre un but précis, ce but est toujours, au final, un de nos besoins. Le cerveau illustre ses besoins grâce a des sentiment ou des sensations. Par exemple c'est les besoins physiques qui nous obligent a trouver a manger. Le besoin de sécurité est ressenti par un sentiment de bien être car vous vous trouver dans un endroit sûr. La raison qui vous pousse a parler avec les autres et a avoir des amis est  due au besoin de socialisation. Ce qui fais que vous vous entraîner pour vous améliorer est lié au besoin d'estime pour améliorer ce que les autres verront de vous. Et enfin notre cerveau a besoin d’épanouissement c'est donc pour cela que nous faisons des activités qui nous plaise et choisissons toujours ce que nous préférons de manière instinctive. D’après Abraham Maslow ces besoins sont classé dans 5 classe rangé par importance dans cette pyramide<br><br>
    </span>

    <!-- <a href="http://archinfo01.hypotheses.org/1403"><img class="img_parties" width="700" height="800" src="https://lh5.googleusercontent.com/rxWw7xJelkP5qxPwWryPQ6fXv3JkR_XLOOrlvYgWdXopQRS2b_2oJ_puTD-wOySNspQzpz_SfBze-KpIAy_dSNBQJNGTq1gNEyYsVMbiFTBW_v43lfc5cVvM161iqUbMMw"></a> -->

    <span class="texte">•	Et lorsque l'information est mal interprétée que se passe-t-il ? C'est ce qui arrive lorsque une « image mentale » est incomplète ou fausse, notre cerveau n'analyse pas correctement une information et la mets en relation avec une autre, heureusement le taux d'erreur est très faible mais la quantité d'information très importante. Constatant l'erreur, il corrigera par la suite et mettra l’information au bon endroit Le cerveau peut se tromper aussi lorsqu'il ne connais pas encore le moyen de résoudre le problème, par exemple lorsque nous apprenons quelque chose nous faisons des erreurs et bien c'est lié au erreur que notre cerveau fais puisque il ne sais pas encore comment s'y prendre pour interpréter l'information. Lorsqu'une information est mal interprété ou lorque on manque d'information cela peux constituer un obstacle a la realisation de certaines actions.<br><br>

    •	Et l'ordinateur ? L'avantage qu'a un ordinateur sur un cerveau c'est le nombre d'erreur. Si le programme est conçu correctement il ne fera pas d'erreur comme par exemple une calculatrice va pouvoir faire des calculs complexe sans erreur alors que notre cerveau a de grande chance de se tromper. L'image « mentale » du cerveau se dégrade au fur et a mesure du temps alors que dans une machine la mémoire reste fixe. L’inconvénient est que pour l'instant un ordinateur ne peux pas apprendre par soi-même mais ne sais que executé un programme qui lui a été donner par la personne l'ayant créer donc un cerveau humain. Les machines sont donc seulement utilisée pour les taches répétitives, longues ou difficiles a faire.</span>


    <div class="sous_partie_menu">B. Qu'est ce que l'intelligence ?</div>

    <span class="texte">Comment définir ce qu'est l'intelligence et en quoi consiste-t-elle ?</span>
    <div class="sous_partie_menu"><div id="1B1"   class="sous_partie_menu">1) L'intelligence</div></div>

    <span class="texte">La notion d'intelligence est très discutée par les scientifiques. Les définitions les plus courantes sont que l'intelligence est l'ensemble de ce qui nous permet de comprendre les choses, les mettre en relation entre elles. Elle est également définie comme la faculté de s'adapter à un environnement ou une situation à un moment donné. L'intelligence peut être aussi perçue comme la capacité à traiter l'information pour atteindre ses objectifs. Notre cerveau devient de plus en plus intelligent car il accumule beaucoup de situations auxquelles il s'adapte. A force de pratiquer un exercice notre cerveau enregistre dans la mémoire comment le faire et donc fait moins d'erreurs la fois d’après. L'intelligence est donc due en grande partie à la faculté qu'a notre cerveau de stocker et d'utiliser les informations dans sa mémoire.</span>

    <div class="sous_partie_menu"><div id="1B2"   class="sous_partie_menu">2) La mémoire</div></div>

    <span class="texte">La mémoire nous sert a conserver et de faire revenir consciemment une information reçu il y a plus ou moins longtemps. Dans notre cerveaux il y a différents types de mémoires :<br><br>

    • La mémoire sensorielle : Elle garde très fidèlement le souvenir d'informations entre quelques centaines de millisecondes jusqu'à 2-3 secondes au plus long. C'est là que les informations sont filtrées car le cerveau ne peut pas tout analyser d'un coup. Toutes les informations qui seront enregistrées dans le cerveau y passent. Les organes des sens y transmettent ce qui est ressenti. C'est cette mémoire qui nous permet de nous rappeler de ce que l'on touche, ou bien ce que l'on sent, voit, entend ou ce que l'on dit. Cette vidéo nous montre que notre mémoire que la mémoire sensorielle ne dure effectivement que quelque seconde puisque nous ne remarquons pas les changements<br><br>
    •	La mémoire à court terme ou mémoire de travail : Elle nous permet de retenir certaines informations pendant la durée d'une tâche. Elle dure environ une minute, une information passe de la mémoire sensorielle à la mémoire à court terme si l'information était importante ou nouvelle. Dans cette zone de la mémoire les information sont traitées et envoyées dans la mémoire à long terme si elles présentent de l’intérêt à être conservées.<br><br>

    •	La mémoire à long terme : C'est le stockage des informations pour une durée longue qui peut aller jusqu'à plusieurs années. Tout reste stocké mais parfois notre cerveau a du mal à retrouver ces informations. Cela dépend de la durée qui s'est écoulée depuis, son importance ou si d'autres événements marquants y sont liés par exemple.<br><br>

    Les différents types de mémoires interagissent entre elles dans l'ordre donné ci-dessus. Les informations passent par la mémoire sensorielle puis celle à court terme et finissent suivant leur importance dans la mémoire à long terme. Cela peut être très bien être résumé par ce schéma
    <a href="http://lecerveau.mcgill.ca/flash/i/i_07/i_07_p/i_07_p_tra/i_07_p_tra.html"><img class="img_parties"  width="700" height="800" src="http://lecerveau.mcgill.ca/flash/i/i_07/i_07_p/i_07_p_tra/i_07_p_tra_2a%20copy.jpg"></a>

</div>
</div>
<% include ../jointures/footer.ejs %>
