<% include ../jointures/head.ejs %>
  <body>

  <div class="container">
      <!-- include de la barre de navigation-->
      <% include ../jointures/header.ejs %>
			<div class="intro_outro">
			    Transition:<br><br>
			    Les avancées dans le domaine de l'Intelligence Artificielle ont été très rapides (en l'espace de quelques décennies) et les prototypes réalisés sont de plus en plus performants et complexes. Cependant, les robots dotés d'une telle intelligence comportent des limites et des dangers.
			</div>
        <!-- Debut sur corp principale-->
				<div class="partie">
				    <a href="../Parties?p=1">III. L’IA dans le futur, ses utilisations et ses dangers</a>
				    <div id="3A" class="sous_partie_menu">
				        A L’utilisation dans le futur
				    </div>

				     <span class="texte">Pour l'instant, il nous est impossible de réaliser une intelligence artificielle forte comme nous le désirons car nous ne savons pas comment nous y prendre. En revanche les chercheurs ont beaucoup d'idées pour l'utilisation de l'IA dans le futur. Aujourd'hui, nous pouvons observer l'apparition des voitures autonomes qui, grâce à des capteurs et à un GPS, peuvent nous ramener d'un point A vers un point B sans qu'il ne faille rien faire. Malheureusement, ce système n'est toujours pas opérationnel à cause de certaines failles dans les programmes très complexes. D'ici quelques années, ce projet a de grandes chances d'aboutir grâce aux progrès effectués et aux expériences menées par des simulateurs performants.</span>
				    <a href="http://www.google.fr/imgres?imgurl=http%3A%2F%2Fwww.lepoint.fr%2Fimages%2F2015%2F01%2F
				    07%2F3042887-humanoides-fr-volvo-voiture-autonome-2017-1-
				    jpg_2648888.jpg&imgrefurl=http%3A%2F%2Fwww.lepoint.fr%2Fautomobile%2Finnovations%2Flavoiture-autonome-pour-les-nuls-07-01-2015-
				    1894531_652.php&h=402&w=610&tbnid=z0amFHT7zNLQeM%3A&zoom=1&docid=EH90NTcTXoMM
				    2M&ei=4nzjVOHuGuyv7AbEqYGoDA&tbm=isch&iact=rc&uact=3&dur=338&page=1&start=0&ndsp=2
				    9&ved=0CEQQrQMwBQ"><img class="img_parties"  src="http://www.lepoint.fr/images/2015/01/07/3042887-humanoides-fr-volvo-voiture-autonome-2017-1-jpg_2648888.jpg"></a>
				     <span class="texte">Ce genre de projet n'est pas unique. En effet, les robots que l'on utilise aujourd'hui sont de plus en plus perfectionnés et de plus en plus fiables. On pourra voir, d'ici quelques années, des robots dans nos maisons afin de faciliter notre quotidien.</span>
				     <span class="texte">Actuellement, l'un des problèmes de la robotique est son coût très élevé, mais il devrait baisser au fur et à mesure des années. A un moment donné, le prix sera assez accessible ce qui permettra d'avoir un robot dans quasiment chaque habitation. Le robot humanoïde japonais HRP-4 a été créé afin de faciliter la vie des personnes âgées dans leur quotidien et/ou  les divertir. Ce robot n'est toujours pas prêt pour une commercialisation à grande échelle mais les prouesses techniques (mouvements très fluides) et gymnastiques de ce robot sont déjà très prometteuses ce qui pourrait conduire à la commercialisation à long terme. Il devra être capable de réagir si une personne tombe (essayer de la rattraper et de l'aider à se relever et/ou d'appeler les pompiers s'il y a présence d'une blessure grave dû à la chute) et être capable de réagir à n'importe quelle situation qui pourrait arriver.</span>

				    <a href="http://www.cnet.com/news/japans-latest-supermodel-a-robot/"><img class="img_parties"  src="http://cnet3.cbsistatic.com/hub/i/2010/09/16/7e54853d-fdbb-11e2-8c7c-d4ae52e62bcc/71b88f6180a2f471ade7ba4b3d49b24e/HRP-4.JPG"></a>
				    <span class="texte">Les robots dotés d'une Intelligence Artificielle seront capables de nous soulager des travaux les plus ingrats comme le travail à la chaîne dans les usines. Ils seront capables de diriger les autres robots comme les robots de construction qui ne sont pas dotés d'intelligence artificielle ou alors de les réparer s'ils sont défaillants. Un célèbre film datant de 2004 sur l'Intelligence artificielle parle de ce phénomène: "I,Robot". En effet, le héros de l'histoire, le détective Del Spooner (joué par Will Smith) parle de ce phénomène en passant dans une usine: "Des robots qui fabriquent des robots". Dans ce film, le Dr Alfred Lanning essaye de faire rapprocher la machine au plus proche de l'Homme: "Un jour, ils auront des secrets. Un jour, ils feront des rêves.". C'est sur cette base qu'il veut programmer les robots. Les progrès dans le domaine de la robotique permettent aujourd'hui de greffer des membres bioniques. Demain, peut-être, serons-nous capable de recréer n'importe quelle partie du corps humain à grande échelle c'est-à-dire de remplacer une grande partie d'un corps après amputation par exemple. Il s'agirait donc de créer des cyborg (mi-homme, mi-robot). Les derniers objectifs de l'Intelligence Artificielle nous amèneraient à sauvegarder l'esprit d'une personne dans un ordinateur après son décès. "Transcendance" de Wally Pfister nous montre cet aspect de l'intelligence. En effet, certains scientifiques tentent de construire un ordinateur doté de conscience et capable de réfléchir. Après la mort du chef de ce projet, sa femme sauvegarde l'esprit de son mari dans un ordinateur. Après avoir été connecté au réseau mondial, le Dr Will Caster (Johnny Depp) améliore ses capacités et ses connaissances. Une telle intelligence et un tel pouvoir pourrait devenir dangereux car avec beaucoup de connaissances il est possible de rentrer, et donc de contrôler, n'importe quel système ou domaine informatique, dont les services gouvernementaux. Une intelligence artificielle serait capable d'une telle chose. Cette ouverture sur les progrès de l'IA nous montre qu'il existe un certain nombre de risques. Heureusement, il existe aussi des limites à leurs capacités.</span>

				    <div id="3B" class="sous_partie_menu">B Les dangers et les limites de l’IA</div>

				    <div id="3B1" class="sous_partie_menu"><div class="sous_partie_menu">1 Les dangers</div></div>

				    <span class="texte">L'idée que l'Intelligence Artificielle pourrait devenir dangereuse vis-à-vis de l'Homme semble sortir d'un film de fiction mais ce sont les craintes d'un célèbre physicien Stephen Hawking qui relance le débat sur le risque de voir l'Homme dépassé par ces technologies. Malheureusement, il n'est pas le seul expert en intelligence artificielle à craindre ces automates intelligents mais nous sommes encore loin de leur donner une intelligence dite «forte». Les vraies capacités de ces robots autonomes ne sont pas encore connues de l’Homme ce qui provoque une certaine méfiance des humains vis-à-vis de ces automates. C’est leur capacité d'auto-développement qui fait peur aux Hommes ; elle leur permet de «penser» par eux-mêmes et donc de réagir selon la situation. D'ici quelques années l'intelligence du robot pourrait dépasser celle de l'Homme car elle leur permettrait d’apprendre en autonomie vu les progrès faits dans ce domaine au court des dernières décennies, tel  la capacité à traiter, à analyser des données et à répondre à des questions précises. Il est vrai que l’Intelligence Artificielle peut devenir un danger mais comme toutes les découvertes technologiques, elle est créée dans le but d’aider les personnes ou de leur faciliter la vie. C’est pour parer aux différents dangers d’une Intelligence Artificielle qu’un célèbre écrivain, Isaac Asimov, a écrit les 3 lois de la robotique actuelle :<br><br>

				-Première Loi: Un robot ne peut blesser un être humain ni, par son inaction, permettre qu'un humain soit blessé.<br>
				-Deuxième Loi: Un robot doit obéir aux ordres donnés par les êtres humains, sauf si de tels ordres sont en contradiction avec la Première Loi.<br>
				-Troisième Loi: Un robot doit protéger sa propre existence aussi longtemps qu'une telle protection n'est pas en contradiction avec la Première et/ou la Deuxième Loi.

				    et/ou la Deuxième Loi.</span>
				    <span class="texte">Ces 3 lois sont directement intégrées dans le circuit des robots ce qui leur procure une incapacité de leur désobéir. Elles offrent un minimum de sécurité aux robots. Il créa aussi une autre loi que l'on nomme "loi zéro" qui permet de placer l'Humanité au-dessus de l'Homme: "Un robot ne peut nuire à l'humanité ni laisser sans assistance l'humanité en danger".</span>

				    <a href="http://dailygeekshow.com/2014/12/16/intelligence-artificielle-homme/programme/"><img class="img_parties"  src="http://img.clubic.com/07110328-photo-ia-ai-intelligence-articielle-logo-gb-sq.jpg"></a>
				    <div id="3B2" class="sous_partie_menu"><div class="sous_partie_menu">2) Les limites</div></div>
				    <span class="texte">
					Heureusement, la machine possède un certain nombre de limites comme sa dépendance à sa source d’énergie: si l'alimentation en énergie est coupée, la machine s’arrêtera de fonctionner. Il est essentiel pour un ordinateur d'être suffisamment puissant afin qu'il puisse gérer le programme en constante utilisation. Il est donc obligatoire d’adapter la source d'énergie qui sert de support à l’Intelligence Artificielle pour avoir la meilleure optimisation possible du programme. Certaines personnes pensent que les robots dotés d'une Intelligence Artificielle pourraient dépasser les capacités intellectuelles de l'Homme car ils pourraient se développer et accroître leurs propres connaissances du monde. D'autres pensent le contraire car l'Homme possède un réseau de neurones très vaste. La capacité de stockage d'une puce électronique est très grande mais elle n'est en revanche pas illimitée. C'est pourquoi, lorsque l'on demande à un robot doté d'une Intelligence Artificielle de résoudre un problème, elle raisonnera grâce à des données étiquetées par l'Homme. C'est qui différencie l'Homme de la machine est aussi sa capacité de réflexion. En effet, un Homme réfléchit par lui-même alors que la machine agit selon le code source qui lui a été inculqué: leur intelligence pourra donc toujours être remise en cause.
				</span>
				    <a href="http://dailygeekshow.com/2014/12/16/intelligence-artificielle-homme/programme/"><img class="img_parties"  src="http://img.over-blog-kiwi.com/0/44/55/70/201302/ob_45bf83d03867d8a1c5767e67fc6f3057_graph-futur.jpg"></a>
				</div>
</div>
<% include ../jointures/footer.ejs %>
