<% include ../jointures/head.ejs %>
  <body>

  <div class="container">
      <!-- include de la barre de navigation-->
      <% include ../jointures/header.ejs %>
			<div class="intro_outro">
			    Transition:<br><br>

			    Tout d’abord pour faire fonctionner une intelligence artificielle, de nos jours, il faut la programmer. En effet, on instaure des règles strictes dans le code qui va déterminer toute la mécanique de l’IA. C’est un processus qui est long et qui nécessite des ressources logicielles et matérielles très conséquentes. Comme tout programme à ses bugs, l’IA n’est pas à l’abri d’un dysfonctionnement logiciel. Il existe plusieurs types d’IA.
			</div>
        <!-- Debut sur corp principale-->
				<div class="partie">
				    <a href="../Parties?p=1">II Le fonctionnement de l’IA de nos jours.</a>
				    <div class="sous_partie_menu">
				        A)	Les différents types d’IA
				    </div>

				    <div class="sous_partie_menu"><div id="2A1" class="sous_partie_menu">1)	L’IA Forte</div></div>
				<span class="texte">
				  Une intelligence artificielle dite forte est capable d’avoir un comportement intelligent tout en ayant une conscience, c’est-à-dire qu’elle peut se rendre compte de ce qu’elle a fait. Pour les scientifiques, le cerveau humain fonctionne sur un modèle biologique complexe d’où une intelligence ayant un support matériel (le cerveau). De ce fait, ils ne pensent pas qu’il y est un réel obstacle pour créer une telle IA. Par ailleurs, ils sont confrontés actuellement à des problèmes de conception et non à des problèmes d’outils, c’est-à-dire qu’ils ont à la capacité pour la faire fonctionner théoriquement mais ils n’ont pas encore la capacité pour la programmer. <br><br> </span>
				<span class="texte">Techniquement la faisabilité a évolué :<br><br>
				- En 1970 un ordinateur pouvait effectuer 10^7 opérations logiques par seconde. Tandis que le cerveau procède approximativement à 10^14 opérations logiques par seconde. Les scientifiques de l’époque en ont déduit qu’ils auront les outils nécessaires en 2019.<br><br>

				- En 2005 dans le domaine des microprocesseurs , les avancées technologiques ont permis à ces derniers d’acquérir une puissance d’environ 10 puissance 11.</span>

				    <a href="#"><img class="img_parties"  width="800" height="600" src="http://www.frc.ri.cmu.edu/~hpm/book97/ch3/power.150.jpg"></a>
				<span class="texte">Ce graphique nous montre l’évolution de la puissance de calcul avec des prévisions sur les années à venir, comparé à des êtres humains en fonction des années. Malgré ces prévisions, on estime en 2013 qu’on possède la puissance nécessaire pour faire fonctionner une Intelligence Artificielle. Des avis sont variés :<br><br>
				- Pour les philosophes et les religieux la conscience est réservée aux êtres humains et ne serait pas liée aux matériels biologiques des individus.<br><br>
				- Pour des scientifiques, le système de fonctionnement actuel des ordinateurs ne permet pas de créer une IA forte, d’après ces derniers il faudrait revoir le fonctionnement primaire des ordinateurs.<br><br>
				- Pour d'autres scientifiques c’est aujourd'hui impossible avec les structures logiques actuellement utilisées (structure logique conditionnelle) mais c’est possible en imitant la structure neuronale du cerveau humain<br><br>
				- Pour Alain Cardon, l’intelligence prend en compte tellement de variables et de facteurs qu’il est impossible pour une machine de reproduire cela. Les avis sur la faisabilité pratique sont majoritairement négatifs. Par ailleurs on peut constater des contradictions sur les avis. A noter que des personnes comme Hofstadter,  AlanTuring à qui on doit le test de Turing pour tester une IA, pensent qu’on ne peut pas vraiment différencier une vraie intelligence d'une intelligence qui simulerait une vraie intelligence. On a ici le problème bien souvent rencontré du solipsisme en philosophie.<br><br>

				</span>

				    <div class="sous_partie_menu"><div id="2A2" class="sous_partie_menu">2)	L’IA Faible</div></div>

				<span class="texte">Une intelligence faible rend des systèmes de plus en plus autonomes. Elle applique un modèle de simulation de la réelle intelligence comme par exemple l’application d’Apple SIRI qui permet de dialoguer avec son téléphone pour effectuer diverse actions comme faire une recherches internet , envoyer un sms à un contact , etc. Ce types d’IA imitent grossièrement le comportement d’un être humain ou si il ne le parvient pas répond par des réponses préconçut. Il s’agit souvent d’intelligence humaine simulé.
				François Rastier propose 6 préceptes pour définir une IA faible :<br>
				-	Objectivité (Utilisation de bases de données)<br>
				-	Textualité (Prise en compte de plusieurs facteurs, plus d’une phrase)<br>
				-	Apprentissage (Capable d’affiner ses réponses et actions en fonction de l’utilisateur)<br>
				-	Questionnement (Capable de demander des précisions sur les propos énoncer par l’utilisateur)<br>
				-	Rectification (Si une question est fausse L’IA est capable de rectifier la question de l’utilisateur)<br>
				-	Explication (L’IA est capable de développer ses réponses)<br><br>
				Trois concepts reviennent régulièrement dans les IA :<br>
				-	La redondance (IA est capable de « combler des vide » dans les questions posées par exemple)<br>
				-	La réentrance (concrètement c’est programme une fonction une fois et la réutiliser plusieurs fois, ce procédé permet d’accroitre les performances du travail)<br>
				-	La sélections (Au bout d’un certain temps l’IA est capable d’avoir un comportement plus efficace en sachant qu’elles sont les question fréquemment posés par exemples et de ce fait si l’utilisateur pose mal sa question l’IA sera capable avec ce qu’elle à compris de répondre logiquement)<br></span>

				<span class="texte">Concrètement pour créer une IA faible, il faudrait juste des connaissances en programmation ainsi que de bonnes logiques. Les langages souvent utilisés sont le C ou le C++ mais c’est tout à fait réalisable en JavaScript comme nous l'avons réalisé pour le jeu créer exclusivement pour le TPE. A noter que tout langage est interprété par un système qui est conçu pour l’exécuter et qui est lui même régit par des composants physiques comme le processeur.</span>
				    <div id="2B" class="sous_partie_menu">B)	La mécanique de fonctionnement d’une IA</div>
				    <span class="texte intro_outro cliquerici"><a href="../Jeu" style="font-size: 70px; line-height: 100%;"> Voir le jeu créer à l'occasion du TPE</a></span>

				        <div class="sous_partie_menu">C)	Des IA de tous les jours</div>
				            <div class="sous_partie_menu"><div id="2C1" class="sous_partie_menu">1)	SIri</div></div>

				   <span class="texte">Aux débuts de la technologie, l'IA ne pouvait que comprendre des sons courts comme des "te" ou "a" La co-articulation de la compréhension dépend de la suite de mots, un des problèmes est la prononciation des suites de mots pour garder un ton régulier et naturel , le mot seul "sonne" bien mais par exemple si on rajoute des mots, la prononciation ne sera pas naturelle. A noter que l’intonation varie en fonction du contexte dans cette technologie. Les sons sont enregistrés dans des bases de données pour y avoir rapidement accès lors de la création de la voix synthétique. Des algorithmes reconnaissent grâce à la base de données et à la voix de l'utilisateur s'il est fatigué par exemple ou ce qu'il dit grâce à des étiquettes de spectrogramme. C'est le "pattern", l'allure de la voix. Ce système couvrira environ 6000 langues dans le monde. Un des avantages de cette IA est que si une population venait à disparaître, « par une éruption volcanique par exemple », le système préservera la langue dans sa base de données. Le projet a pris 2 ans à se développer.</span>

				    <div style=" width: 560px; margin-left: auto; margin-right: auto; display: block; "><iframe width="560" height="315" src="https://www.youtube.com/embed/wu-tIqnUUX8" frameborder="0" allowfullscreen></iframe></div>

				<span class="texte">Des français sont parvenus à percer le secret de SIRI. Ils ont découvert que SIRI fonctionne comme un dictaphone, c'est à dire qu'il enregistre juste la voix de l'utilisateur. Puis l'enregistrement est envoyé via un protocole HTTPS, qui est un protocole mélangeant le protocole courant internet HTTP omniprésent dans la navigation web, et un protocole SSL, qui est un protocole de chiffrement pour garantir la sécurité des informations. Le fichier vocal est donc envoyé sur les serveurs d’Apple, ce qui nécessite une connexion internet. Siri fonctionne sur le même modèle que Google Voice. Chaque fichier audio est incrémenté d'information unique sur l'utilisateur du fichier. Ce qui permet à Apple de bloquer le service à certains utilisateurs ou à avoir théoriquement un suivi sur les utilisateurs.</span>

				Source : http://www.numerama.com/magazine/20578-des-francais-percent-le-secret-de-siri.html

				    <div class="sous_partie_menu"><div id="2C2"  class="sous_partie_menu">2) Domotique</div></div>

				<span class="texte">La domotique est une spécialité du bâtiment, regroupant des technologies permettant d’automatiser et de programmer des « événements ». Une multitude d’équipement est reliée à une unité centrale, comme le chauffage, la machine à café, etc. Cet outils permettent de faciliter la vie des habitants en effectuant un travail précis et en priorité pour les travaux pénibles. A tout moment l’utilisateur peut voir ce que l’unité centrale fait. Ce qui lui permet d’avoir un contrôle continu sur son habitat. La domotique est une intelligence artificielle, elle est programmée et agit en automatisant des tâches et en les coordonnant. Elle permet d’accomplir le travail normalement effectué par l’Homme. Voici un schéma illustrant des exemples de son utilisation :</span>
				<a href="#"><img class="img_parties"  width="800" height="600" src="http://upload.wikimedia.org/wikipedia/commons/7/7f/Habitat_intelligentUsager.jpg"></a>
				    <span class="texte">Par ailleurs l’installation d’une telle infrastructure est très coûteuse et nécessite des prestations d’étude, de câblage, d’installation, de programmation. L’intégration de cette technologie est souvent préférable dans un habitat neuf plutôt que dans une rénovation car cela revient souvent plus chère.
				</span>
				http://fr.wikipedia.org/wiki/Domotique
				http://doc.ubuntu-fr.org/domotique


				    <div id="2D"  class="sous_partie_menu">D.Des IA indispensables dans certains domaines</div>

				    <span class="texte">L'Intelligence Artificielle est utilisée dans de nombreux domaines tel que la robotique, les drones, les jeux-vidéos, les banques, la médecine, la recherche, la cuisine ou comme simple humanoïde programmable.<br>
				    Par exemple, le robot CHARLI est un des premiers robots autonomes. Il est capable, avec ses deux pieds, de marcher vers n'importe quelle direction ou de procéder à des gestes simples comme bouger son corps. Les drones, quand à eux, servent pour des missions militaires mais aussi à survoler de petites zones à photographier ou à filmer. Le missile MQ-1 à usage militaire (plus connu sous le nom de prédator) est un drone de reconnaissance armé qui est équipé de 2 missiles antichar (missiles prédator). Les drones disponibles pour le grand public servent, entre autre, à observer de futurs chantiers afin d'obtenir une image aérienne et donc de pouvoir modéliser l'aspect de la construction à la fin des travaux.</span>
				    <span class="texte">L'intelligence artificielle est aussi beaucoup utilisée dans les jeux-vidéos où, par exemple, les PNJ (Personnages Non-Joueurs) répondent des phrases à leurs interlocuteurs en fonction du scénario ou de la question posée: c'est une forme d'intelligence. L'objectif principal de l’Intelligence Artificielle dans les jeux-vidéos est d'imiter un comportement similaire à celui d'un Homme.<br>
				    Les banquiers doivent faire face à de multiples tâche dont le fait de proposer des prêts ou de suivre les clients dans leur démarche. L'idée serait de donner ces tâches à un robot capable d'intelligence afin d'aider les banquiers car ils ont une vitesse d'exécution et une précision supérieur à celle du cerveau humain lors de calculs complexs. La banque américaine Citigroup s'est emparé de ce projet. En effet, il veulent utiliser Watson qui est un robot capable de ce genre de choses et qui a déjà fait ses preuves lors d'un jeu télévisé où il a battu des champions. Watson utilise 2 880 cœurs (nombre d'informations qu'il peut traiter à la fois) ainsi que 15 To de RAM (que l'on appelle aussi mémoire vive qui permet de stocker un certain nombre de données afin de pouvoir y accéder plus facilement et rapidement qu'un disque dur classique).</span>
				    <span class="texte">Dans le domaine de la médecine, les robots peuvent pratiquer des opérations avec beaucoup plus de précision que l'Homme. En effet, nous pouvons constater que les hommes possèdent certains défauts comme le fait de trembler par exemple. Ils ne peuvent pas opérer sur des organes très petits ou alors n'y ont pas accès. Le robot, quant à lui, possède des bras bioniques très précis qui lui permet d'atteindre des endroits impossibles d'accès pour un homme: il n'a donc pas ces différentes contraintes physiques. Il peut donc procéder à des opérations plus complexes avec beaucoup plus de sécurité pour le patient qu'un médecin.</span>
				    <span class="texte">Le microprocesseur est un processeur dont les composants électroniques sont de l'ordre du micromètre (10^-6 mètres). De part sa petite taille, il est capable d'être placé plus facilement dans un robot ou dans l'Intelligence qu'il gère. Ce processeur sert à exécuter les instructions d'un ordinateur. Aujourd'hui, la capacité des microprocesseurs est en constante évolution ce qui permet une capacité de calcul de plus en plus importante et rapide. D'après Gordon Moore (cofondateur d'Intel), cette capacité double tous les 18 mois. Cette capacité de calcul leur permet une comparaison de variables et de données plus rapide qu'avant, ce qui implique une plus grande réactivité de ces automates..</span>
				Source = http://fr.wikipedia.org/wiki/Intelligence_artificielle





</div>
<% include ../jointures/footer.ejs %>
