<div class="synthese">
    <span class="texte">
<span class="sous_partie_menu">
J'ai choisi ce sujet avec mes camarades car nous sommes tous attirés
par l'informatique et les nouvelles technologies. C’était donc le sujet se
rapprochant le plus de notre centre d’intérêt commun et celui où nous
avons le plus de connaissance pour la création de notre jeu utilisé pour
montrer le principe de l'Intelligence Artificielle (IA). Les disciplines
choisis ont été les mathématiques car la programmation, base de l'IA,
est considérée comme appartenant au mathématiques. Nous avons
choisis la deuxième matière pour pouvoir traiter du cerveau donc la
SVT.<br><br></span>
<span class="sous_partie_menu">
La problématique choisi est : l'intelligence artificielle
pourrait-elle un jour dépasser celle de l'homme ? Nous avons donc
décidé de parler de l'intelligence humaine pour la comparer et donc j'ai
commencé à faire des recherches dessus. Le premier problème que j'ai
rencontrer étais que le fonctionnement d'un cerveau fais encore débat
entre les scientifiques et donc donner une réponse exacte est très
difficile. Ensuite on as eu l'idée de créer un jeu. Ne savant pas vraiment
bien coder au point de servir pour le jeu, je me suis occupé de toute la
partie graphique puisque j’étais celui qui était le plus intéressé par ce
domaine. J'ai donc suspendu mes recherches le temps de rendre le plus
rapidement les éléments qui bloquait la suite de la programmation du
jeu. Une fois ce problème réglé j'ai continué mes recherches. Le
deuxième problème à été que ma partie rentrait dans le sujet grâce a la
problématique, mais pas grâce au sujet donc c’était une partie moins
importante. J'ai donc dû supprimer des parties de mes recherche qui
était trop hors sujet. Nous avons commencé à mettre nos recherche en
commun, à relire l'ensemble et à améliorer ce qui nous semblais moins
bien. Quelque élément du jeu on du être refais par la suite car nous
décidé de le pousser un peu plus pour mieux démontrer le
fonctionnement. J'en ai conclu avec le reste du groupe que la
problématique n'avait pas de réponse concrète pour le moment
puisque nous ne pouvons pas savoir comment va évoluer ce domaine
mais beaucoup de raison nous font penser que un jour cela sera bien le
cas. Nous avons choisis de rendre notre dossier sur un site internet car
le support nous permettait d'ajouter des vidéos et de pouvoir présenter
le jeu.<br><br></span>
<span class="sous_partie_menu">
Ce TPE m'auras fais apprendre beaucoup de chose en termes de
connaissance bien sur car ce sont des choses dont je n'ai jamais
entendu parler et donc pour moi tout ce que j'ai écrit et lu en parallèle
sont déjà des bases si un jour nous aborderons le sujet en classe. J'ai
aussi appris a mieux manipuler des logiciels de traitement photo ainsi
que de modélisation. Grâce au site j'ai pu apprendre quelque petite
chose sur la programmation web ainsi que la conception d'un site.</span></span>
</div>