<div class="synthese">
    <span class="texte">
    Pourquoi avoir choisi ce sujet ?<br>
<span class="sous_partie_menu">
Le choix du sujet de notre TPE découle de nos différentes passions. En effet, Quentin
étant très intéressé par l'électronique, Timothée par la programmation informatique et moi-même
par la sécurité des bases de données, nous avons cherché un thème qui regroupe ces éléments.
L'Intelligence Artificielle est basée sur l'informatique mais ne pourrait pas être utilisée
sans les processeurs qui permettent d'appliquer et de gérer le code interne. C'est donc pour
cela que, dès la première séance, nous nous sommes mis d'accord sur ce thème. Nous voulions
choisir l'informatique comme matière primaire, malheureusement nous n'avions pas cette
possibilité. Pour compenser nous avons choisi la matière qui s'en rapproche le plus c'est-àdire les maths. Il est impossible de parler d'une intelligence créée par l'Homme sans parler de
l'intelligence humaine et du cerveau; voilà pour la partie SVT.<br><br></span>
    Parcours et démarche du groupe:<br><br>
    Nous avons voulu savoir si l'Intelligence Artificielle pourrait, un jour, dépasser celle
    de l'Homme ?<br>
<span class="sous_partie_menu">
Pour savoir cela, Timothée nous a proposé l'idée de créer un jeu complètement autonome
afin de pouvoir montrer comment fonctionne une Intelligence Artificielle. Cette idée nous à
finalement tous convaincu et nous avons tout de suite commencé à le créer. Ce jeu nous a pris
la plupart de notre temps consacré au TPE:<br></span>
<span class="sous_partie_menu">
-codage du jeu: il a fallu plusieurs centaines d'heures (environ 400 heures).
C'est Timothée, grâce aux compétences qu'il a acquit avant et pendant le TPE, qui a réussi à
programmer ce jeu. Voyant ce qu'il arrivait à faire j'ai commencé à apprendre une partie des
différents langages qu'il a utilisé: le HTML ainsi que les feuilles de style CSS.<br>
-la partie graphique du jeu (c'est à dire la carte, les personnages, les
ressources, etc) ainsi que le transfert entre la partie graphique et le code nous a pris
environ 200 heures. Quentin devait s'occuper de créer la carte et les personnages. Quant à moi,
j'ai créé les différentes provinces de la carte grâce au logiciel Adobe Illustrator. La partie
la plus complexe est d'utiliser le code source de l'image et de le transférer dans le code
interne du jeu. Il fallait enregistrer chaque zone au format SVG et intégrer le code source de
l'image à copier dans le code interne du jeu. J'ai dû recommencer plusieurs fois afin d'avoir
le bon format de chaque image.<br><br></span>
    Très rapidement, nous avons décidé de créer trois grandes parties pour notre TPE
    (chacune ayant plusieurs sous-parties):<br>
<span class="sous_partie_menu">
-première partie: fonctionnement du cerveau humain pour le comparer
aux  capacités de la machine.<br>
-seconde partie: le fonctionnement de l'IA de nos jours afin de voir
les progrès accomplis jusqu'ici.<br>
-troisième partie: montrer quelle place pourrait avoir le développement
de l'Intelligence Artificielle dans le futur.<br></span>
<span class="sous_partie_menu">
La partie qui m'a semblé la plus longue reste quand même les recherches. Je me suis
occupé de  la 3e partie c'est à dire l'Intelligence Artificielle dans le futur, ses dangers et
ses limites. Ce qui a pris le plus de temps est la recherche des informations et la
vérification des données sur d'autres sites. Après avoir trouvé la plupart des informations
nécessaires, j'ai dû passer à la rédaction de toutes mes recherches et vérifier que je ne me
suis pas répété plusieurs fois dans les paragraphes. Durant mes différentes recherches j'ai pu
constater qu'il existe beaucoup de sites où l'on parle des limites et des dangers de
l'Intelligence Artificielle. Le plus dur a donc été de choisir les principales informations
afin de les intégrer dans le texte.<br><br></span>
    Bilan personnel:<br><br>
<span class="sous_partie_menu">
C'est la première fois que je travaille sur un projet pendant une aussi longue durée.
Ce TPE m'a permis de découvrir cela car en informatique il est possible de travailler sur
différents projets qui peuvent durer plusieurs mois, voire plusieurs années. Il m'a aussi
permis d'en apprendre d'avantage sur le travail en groupe ainsi que la coordination dans le
groupe (se partager le travail, mise en commun des recherches,etc...).<br></span>
<span class="sous_partie_menu">
Ce projet m'a aussi permis d’acquérir plus de connaissances sur l'Intelligence
Artificielle et sur le fait que beaucoup de gens craignent les dérives que le progrès dans ce
domaine pourrait induire. Grâce au TPE j'ai appris des langages de programmation que je
n'aurais sûrement jamais appris: le HTML et le CSS.<br></span>
<span class="sous_partie_menu">
Pour conclure, ce TPE m'a vraiment beaucoup intéressé et m'a permis d'apprendre des
choses sur l'IA ainsi que sur le travail en groupe.</span>
        </span>
</div>