<div class="sous_partie_menu">
    Pourquoi avoir choisi ce sujet ?<br>
<span class="sous_partie_menu">
    <span class="texte">J’ai proposé l’idée de l’intelligence  artificielle,  car étant un joueur de jeux  vidéo  invétéré,  j’en
croise  constamment,  et par le faite que j’ai des  connaissances  basique dans le domaine de la
création  de  site  web  dans  plusieurs  langage  web,   plus  des  mécaniques    acceptable  dans  la
programmation. De plus , Quentin ayant des connaissance en infographie , nous somme dit que
serait un bon sujet  à traiter  car  le  point  centrale  serait  la  création d’une  IA par  le  biais de  la
fabrication d’un  jeu  à partir de  nos  connaissances  et de  nos  recherches.  Sébastien  ayant  une
bonne synergie avec Quentin dans la création de projets  graphiques,  nous en avons conclu que
nous constituons une équipe complète et cohérente pour traiter de ce sujet. Nous avons choisi
les mathématiques comme l’une des matières du  TPE car la programmation  et les  algorithmes,
d’où  le jeu,  se situent  dans cette matière. Par ailleurs l’IA  étant créée  par des Humains et matière
logique du TPE pour introduire le fonctionnement du cer veau humain.<br><br>
    Parcours et démarche du groupe:<br><br>
    Nous avons voulu nous informer  quant  à la puissance des IA et donc si  l'Intelligence Artificielle
    pourrait, un jour, dépasser celle de l'Homme ?<br></span></span>
<span class="texte"><span class="sous_partie_menu">
Pour cela, j’ai eu l’idée de créer un jeu totalement autonome, capable de nous faire visualiser le
comportement  d’une  IA  faible  simplement  (Ce  qui  se  compliqua  très  fortement  quand  je
commençais  à  incrémenter  des idées  supplémentaire). En effet,  ce projet à
prit une ampleur titanesque, où  nous nous sommes  investi  considérablement,  pour ma part en
moyenne 6 heures par week-end. Ce qui me fit devenir de plus en plus efficace dans ma tâche et
ce qui m’appris  beaucoup de choses sur plusieurs langages  de programmations en mêmes  temps
(j’ai perfectionné  mes connaissances  dans des langages tel que le PHP,  l’HTML,  CSS et JS). Comme
ce  projet  requiert  des  compétences  dignes  de professionnels  j’ai    donc  dû  faire  plusieurs  fois
appels  à l’aide d’un étudiant en deuxième  année d’informatique (chez Epitech). A  noté qu’il ne
m’a jamais donnés les réponses, mais seulement dans quelle direction je devais me tourner.<br></span></span>

    <span class="texte"> La création du jeu s’est scindée en 2 parties :<br>
<span class="sous_partie_menu">
-  La  programmation  :  Il  m’a  fallu  plus  de  300  heures  acharnées  derrière  mon
ordinateur,  m’acharnant  à  ma  tâche  dans  l’unique  but  de  réussir  notre  TPE
herculéen. Me rendant compte que le jeu me prenait un temps pharamineux, j’ai
essayé de léguer une partie du travail à mon collègue Sébastien. Mais il ne pu
malheureusement pas m’aider. Ce dernier de divise en deux parties:<br></span>
<span class="sous_partie_menu">
o  La partie Graphique  :  il s’agit de programmer l’intégralité des éléments que
l’utilisateur  voit  :  comme  par  exemple  l’interface  (la  taille  de  police,  la
tailles des  éléments, leurs  positions,  leur couleurs,  etc). Le site a été  créé
sur une base d’un site dont  j’ai acheté les sources et auxquelles je fis une
multitude de modifications pour l’adapter à nos besoins.<br>
<span class="sous_partie_menu">
o  La partie Programmation  :  Tous les  éléments,  ou nombre  qui évoluent dans
le temps sont un effet des fonctions et des  algorithmes  qui tournent en
fonds. L’utilisateur ne  voit  pas    directement ce que font les fonctions en
temps réel, mais il est capable de regarder le code source  s’il  est codé en
HTML,  CCS,  ou  JS.  A noté que la majorité du code source du jeu est codé
en JS.<br></span>
<span class="sous_partie_menu">
-  La partie graphique du jeu  :  C’est l’ensemble  des images présentes  dans le jeu,
comme la  carte,  les  logos,  ou les icones.  Pour  pouvoir utilisé les régions  (les colorés
en temps réels), j’ai demandé à l’équipe graphique de m’envoyer au format vectorielle SVG chaque régions.<br><br></span></span>
Quant au plan du TPE nous l’avons développé sur 3 points :<br>
-  Le fonctionnement du cerveau | pour comparer le cerveau à la machine<br>
-  Le  fonctionnement  d’une  IA  de  nos  jours  |  pour  mieux  comprendre  son
fonctionnement<br>
-  La place de L’IA dans le futur | pour connaitre le futur de l’IA<br>
<span class="sous_partie_menu">
J’ai trouvé la  partie  recherche  longue,  car il a fallu couvrir beaucoup de domaines  en  mêmes
temps. On    s’est donc respectivement  distribué les parties entre Quentin,  moi et Sébastien.  J’ai
constaté qu’il a avait pleins de  sites  traitant une  sujet de recherche,  mais que l’information variait
selon le site, j’ai donc dû tirer les informations qui m’intéressait car il y en avait à profusion.<br><br></span>
Bilan personnel :<br><br>
<span class="sous_partie_menu">
Ce n’est pas la première fois que je travaille sur un projet aussi  longtemps.  En effet,  je m’étais
déjà  investi  dans un tel projet avec plusieurs personnes ou ce dernier avait  mêmes  un aspect
juridique  (avec une  structure  «  d’entreprise  »  où  chacun avait son  rôle  déterminé).  Avec cette
expérience, nous avons appliqué un tel schéma à la conception du jeu. Par expérience, je trouve
que  si  chacun  travaille  un  domaine  précis  où  il  est  compétent,  le  travail  ne  peut  qu’être  de
meilleures qualités et avoir une plus grosse productivité. Pour les même raison que le  jeu,  nous
avons choisi comme support un site internet.<br></span>
<span class="sous_partie_menu">
En soit le TPE m’as permis d’améliorer mes compétences dans la recherches d‘informations ciblés
et dans la programmation ainsi que dans la gestion de projet /  « d’entreprise ».  A noté que des
outils  de  communication tel  que  Trello  ,  Team Speak  ,  Skype  et  Facebook  nous on  permis  de
mieux communiqué et d’accroître notre productivité.<br></span>
Ce projet m’a naturellement informé sur l’intelligence  artificielle;  c’est un sujet  intéressent  et
vaste qui va surement dans un futur prendre de plus en plus de place dans nos vies.</span>
</div>