<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Intelligence artificielle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TPE">
    <meta name="author" content="Oliger Timothée, Quentin Phillip, Sébastien Phillip">e
    <!-- Le styles -->
		<link rel="stylesheet" href="../less-css/main.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <style>
          body {
            padding-top: 20px;
            padding-bottom: 60px;
            background: url("/static/images/fond.jpg") fixed no-repeat;
            font-size:17px;
          }
    </style>
  </head>
