	   <div class="masthead">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">

              <ul class="nav">
                <li><a href="../accueil/"><i class="fa fa-home"></i>  Accueil</a></li>
								<li><a href="../partie1">Partie 1</a></li>
                <li ><a href="../partie2">Partie 2</a></li>
                <li ><a href="../partie3">Partie 3</a></li>
                  <li ><a href="../Jeu">Jeu</a></li>
                <li><a href="../Synthese/">Fiches de synthèses</a></li>
                  <li><a href="../Bibliographie/">Bibliographie</a></li>
            </div>
          </div>
        </div>
      </div>
