<% include ../jointures/head.ejs %>
  <body>

  <div class="container">
      <!-- include de la barre de navigation-->
      <% include ../jointures/header.ejs %>

        <!-- Debut sur corp principale-->
          <div class="box-shadow well">
          <div class="row-fluid">
            <br><br><br>

                <div style="margin-left: auto; margin-right: auto; position relative; width:750px;;"><h1>TPE traitant de l'intelligence artificielle!</h1></div>

                <br><br><br>

              <div class="row-fluid">
                  <div class="row-fluid">
                    <div class="intro_outro">
                  Introduction:<br><br>
                        L’Homme a toujours voulu se simplifier certaine tâche grâce à l'utilisation de machines qui pourraient faire la même chose qu'un humain mais plus rapidement par exemple. De nos jours, de grands progrès ont été fait dans les sciences et surtout depuis le début de l'informatique. Les chercheurs recherchent désormais des moyens pour qu'un robot ou un ordinateur puissent réfléchir tel un Homme. L’Intelligence Artificielle (IA) est le nom donné à ces programmes permettant de se rapprocher le plus des capacités de réflexion, d’interprétation et de déduction des Hommes. Une intelligence artificielle qui serait parfaite, devrait aussi bien comprendre le contenu d'une phrase,  analyser des situations (ce que nous arrivons à faire), mais aussi anticiper des mouvements (par exemple pour les voitures sans conducteur), apprendre par soi-même et effectuer des actions qui n'ont pas été détaillées dans le développement du programme. Est-ce-que un jour un robot pourra réfléchir sur son rôle et modifier son comportement ? Nous pouvons donc nous poser la question suivante : l'intelligence artificielle pourrait-elle un jour dépasser celle de l'homme ? Pour y répondre nous allons tout d'abord devoir définir ce qu'est l'intelligence humaine et quelles en sont ses spécificités, puis nous comparerons ceci à l'intelligence artificielle, de quoi est-elle faite et quelles sont ses capacités ? Nous parlerons aussi de ce que sera l'IA dans le futur, à quoi pourrait-elle servir ? Quels sont les dangers qui y sont associés et quelles en sont ses limites ?
                      </div><br>

                  <div class="partie">
                   <a href="../Parties?p=1">I)Fonctionnement du cerveau</a>
                      <div class="sous_partie_menu">
                          A)comment fonctionne un cerveau
                            <div class="sous_partie_menu">
                                <a href="../Parties?p=1#1A1">1) principe de base : les interactions entre les neurones</a><br>
                                <a href="../Parties?p=1#1A2">2) Le traitement des informations dans un cerveau</a>
                            </div>
                      </div>
                      <div class="sous_partie_menu">
                          B) qu'est ce que l'intelligence
                            <div class="sous_partie_menu">
                                <a href="../Parties?p=1#1B1"> 1) L'intelligence<br>
                                    <a href="../Parties?p=1#1B2"> 2) la mémoire<br>
                            </div>
                      </div>
                   </div>
                  <div class="partie">
                      <a href="../Parties?p=2">II) Le fonctionnement de l’IA de nos jours.</a>
                        <div class="sous_partie_menu">
                            A)	Les différents types d’IA
                            <div class="sous_partie_menu">
                                <a href="../Parties?p=2#2A1">1)L’IA Forte</a><br>
                                <a href="../Parties?p=2#2A2">2)L’IA Faible</a>
                            </div>
                        </div>

                        <div class="sous_partie_menu">
                            <a href="../Parties?p=2#2B">B)La mécanique de fonctionnement d’une IA</a>
                        </div>

                        <div class="sous_partie_menu">
                            C)	Des IA de tous les jours
                                <div class="sous_partie_menu">
                                    <a href="../Parties?p=2#2C1">1)	Siri</a><br>
                                        <a href="../Parties?p=2#2C2">2)	La Domotique</a>
                                </div>
                        </div>

                        <div class="sous_partie_menu">
                            <a href="../Parties?p=2#2D">D)	Des IA indispensable dans certains domaines</a>
                        </div>

                    </div>
                    <div class="partie">
                        <a href="../Parties?p=3">III) L’IA dans le futur, ses utilisations et ses dangers</a>
                            <div class="sous_partie_menu">
                                <a href="../Parties?p=3#3A">A) L’utilisation dans le futur<br>
                            </div>
                            <div class="sous_partie_menu">
                                <a href="../Parties?p=3#3B">B) Les dangers et les limites de l’IA</a>
                                <div class="sous_partie_menu">
                                    <a href="../Parties?p=3#3B1">1) Les dangers</a><br>
                                    <a href="../Parties?p=3#3B2">2) Les limites</a>
                                </div>
                            </div>
                    </div>

              </div>
          </div>
      </div>



        <% include ../jointures/footer.ejs %>

  </body>
</html>
